body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
  background-color: #eee;
}

.showcase {
  background: url(https://images.pexels.com/photos/1369476/pexels-photo-1369476.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
    no-repeat center/cover;
  height: 400px;
}

.showcase .overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0, 20px, 0, 20px;
}
.mainTitle {
  font-size: 2.25rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}
.listItems {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  
}
.title {
  color: #221e1d;
  font-size: 36px;
  font-family: "Signika", sans-serif;
}
.listArticles {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: square;
}
.listArticles li:first-child {
  list-style:none;
  font-family: "Signika", sans-serif;
  color:peru;
  padding-right: 1rem;
}

.linkToResource {
  text-decoration: underline;
  color: black;
}
.infoTitle {
  font-weight: bold;
}
p {
  font-family: "Inder", sans-serif;
  line-height: 28px;
  color: #666;
}
.bodyArticle {
  background-color: white;
  margin: 40px;
  padding: 3px 10px 20px 20px;
  border-radius: 0.5rem;
}

a {
  color: blue;
  font-family: helvetica;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: black;
}
.input {
  padding: 0.45rem 0.9rem 0.45rem 0.9rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border: none;
}
 .btn {
  background-color: rgb(74 222 128);
  padding: 0.45rem 0.9rem 0.45rem 0.9rem;
  color: white;
  border:none;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin: 0;
}


@media (min-width: 1200px) {
  .bodyArticle {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}
